/*=========== NAVIGATION ======================*/

#navigation {
    position: sticky;
    top: 0px;
    z-index: 999;
    overflow-x: visible;
    overflow-y: visible;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 3.3px double rgba(0, 0, 0, 0.1);
    height: 3.5em;
   
}

.logo {
    width: 4em;
    height: 3em;
    background-image: url(img/logo.jpg);
    background-size: cover;
    margin-left: 0.55em;
    position: absolute;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: -0.2em;
    right: 1em;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hamburger Lines*/

.menu-wrap .hamburger>div {
    position: relative;
    width: 6em;
    height: 3px;
    background-color: #2B303A;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background-color: #2B303A;
}

.menu-wrap .hamburger>div::after {
    top: 10px;
}

/*Toggler animate*/

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div::before, .menu-wrap .toggler:checked+.hamburger>div::after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.toggler:checked~.menu {
    visibility: visible;
    opacity: 1;
}

.toggler:checked~.menu>div {
    transform: none;
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

.toggler:checked~.menu>div>div {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transform: none;
}

.menu {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.menu>div {
    position: absolute;
    width: 0vw;
    height: 0vh;
    opacity: 0;
    top: 3em;
    transform: translateY(-200px);
    background-image: linear-gradient(to right bottom, rgba(0, 171, 184, 0.9), rgba(31, 193, 190, 0.9), rgba(67, 212, 190, 0.9), rgba(104, 230, 188, 0.9), rgba(144, 248, 181, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    margin-top: 0.47em;
}

.menu>div>div {
    width: 0;
    height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 1s;
    
}

.menu>div>div>ul>li {
    list-style: none;
}

.menu>div>div>ul>li>a {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(43, 48, 58);
    text-decoration: none;
    font-weight: 800;
    font-size: 1.3em;
    padding-bottom: 1.9em;
    letter-spacing: 3px;
    transition: ease all 0.35s;
}


.menu>div>div>ul>li>a:hover {
    color: white;
}

.menu>div>div>ul>li>.active {
    color: white;
    transition: all 0.35s;
}

@media (min-width: 840px) {
    #navigation {
        position: sticky;
        top: 50px;
        overflow: visible;
    }
    .toggler {
        display: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        position: absolute;
        right: 3.5%;
        width: 7.5em;
        height: 5em;
        border: 0.08px solid rgba(43, 48, 58, 0.246);
    }
    .logo {
        display: none;
        position: relative;
        display: block;
        margin: 0;
        margin-top: 0.6em;
        margin-bottom: 1em;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 4em;
        height: 3em;
    }
    .menu-wrap {
        display: block;
        width: 7.5em;
        height: 0.8em;
    }
    .menu-wrap .hamburger {
        display: none;
    }
    .menu {
        position: relative;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: white;
        /* overflow: hidden; */
        visibility: visible;
        opacity: 1;
    }
    .menu>div {
        position: relative;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        transform: translateX(0);
        transition: all ease-out 0s;
        opacity: 1;
    }
    .menu>div>div {
        position: relative;
        width: auto;
        height: auto;
        top: 200px;
        left: 0;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        opacity: 1;
        max-width: none;
        max-height: none;
    }
    .menu>div>div>ul {
        display: block;
        list-style: none;
        border-top: none;
    }
    .menu>div>div>ul>li>a {
        text-decoration: none;
        text-transform: none;
        color: #2B303A;
        font-weight: 800;
        letter-spacing: 1.5px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 6.5px;
        padding-right: 6.5px;
        display: block;
        transition: none;
        font-size: 15px;
        background-color: white;
        border-bottom: 0;
        border-top: 0.5px solid rgba(43, 48, 58, 0.246);
        border-left: 0.7px solid rgba(43, 48, 58, 0.246);
        border-right: 0.7px solid rgba(43, 48, 58, 0.246);
    }
    .menu>div>div>ul>li>.aContact {
        border-bottom: 0.5px solid rgba(43, 48, 58, 0.246);
    }
    .menu>div>div>ul>li>a::after {
        content: '';
        background: linear-gradient(to right top, #00adba, #1fc1be, #43d4be, #68e6bb, #90f8b5);
        border-top: none;
        width: 0%;
        height: 70px;
        position: absolute;
        left: 0;
        margin-top: -44px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        transition: all 1s;
    }
    .menu>div>div>ul>li>a:hover {
        color: #2B303A;
    }
    .menu>div>div>ul li>a:hover::after {
        position: absolute;
        border-radius: 0;
        width: 100%;
    }
    .menu>div>div>ul>li>a>p {
        position: relative;
        z-index: 99;
    }
    .menu>div>div>ul>li>.active{
        color: #2B303A;
    }
    .menu>div>div>ul>li>.active::after {
        content: '';
        background: linear-gradient(to right top, #00adba, #1fc1be, #43d4be, #68e6bb, #90f8b5);
        border-top: none;
        width: 100%;
        height: 70px;
        position: absolute;
        left: 0;
        margin-top: -44px;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        transition: all 1s;
        cursor: pointer;
        color: #2B303A;
    }
}